/*CSS */
/*more css */

.rowjoe{
    background-color: blue;
    text-align: left;
}


.rowsam{
    background-color: crimson;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:black;
}

.sleepy-img{
    max-width: 300px;
}

.zzz{
    font-size: 20px;
    text-shadow: 1px 1px 4px darkblue; 
    
}
.zzz:hover{
    text-transform: capitalize;
    text-shadow: 2px 2px 8px yellowgreen;
}



/* .::""-,                      .::""-.
  /::     \                    /::     \
  |::     |   _..--""""--.._   |::     |
  '\:.__ /  .'              '.  \:.__ /
   ||____|.'                  '.||____|
   ||:.  |                       |:.  |
   ||:.  |                       |:.  |
   ||:.  |                       |:.  |
   ||:.  |  _..---"````````'---. |:.  |
   ||:.  | `                     \:.  |
   ||:.  |: :                .--._.-""-;
   ||:.  |: : _.---``````---/    '.   _.`.
   ||:.  | .-'  _,'```'-...'   _ .-'.'    '-.
   ||:. .-'   .'        '. . '      '.      `'.
   ||: ;.' .`'        _. '`'-.         '.   . ''-._
   ||:. :   '.     .'          '.  . ' ' '.`       '._
   ||:. :    '. .'     .::""-: .''.        ' .   . ' ' :::""-.
   ||:. '     ..' .    /::     \    '.        . '.    /::     \
   ||:  :  . .'      '.|::     |    _.:---""---.._'   |::     |
   ||.  ;  .:          '\:.__ /   .'              '.   \:.__ /
   ||:  ;  : '.       . ||____|_.'                  '._||____|
   ||:  ;__:   '.   .'  ||:.  |                        ||:.  |
   ||:___| \     '. :   ||:.  |                        ||:.  |
   [[____]  '.     '.-._||:.  |                        ||:.  |
              '.    :   ||:.  |                        ||:.  |
                '.  :   ||:.  |                        ||:.  |
                  '-:   ||:.  |                        ||:.  |
                     '._||:.  |________________________||:.  |
                        ||:___|'-.-'-.-'-.-'-.-'-.-'-.-||:___|
                        [[____]                        [[____] */

